@font-face {
  font-family: 'Facebook';
  src: local('Facebook'), url(./fonts/FACEBOLF.OTF) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.landing-container {
  background-color: #f0f2f5;
}

.form-background {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 1px 2px 5px #888888;
  padding: 20px;
}

.fb-font {
  font-family: Facebook, serif;
  color: #1877f2;
}

.title {
  font-size: 56px;
}

div.forgot-pass-container {
  border-bottom: 1px solid #DADDE1;
  padding-bottom: 1em;
}

.forgot-pass {
  color: #1877f2;
  font-size: 14px;
  text-decoration: none;
}
